* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2eee3;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    background-color: black;
    padding:5px 20px;

}



nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    background-color: black;
    color: white;

}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 70%;

}

ul li {
    padding: 10px 20px;
}

ul li:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#juca {
    display: none;
}



@media screen and (max-width: 550px) {
    body {
        background-color: red;
    }

    nav {
        flex-direction: column;
        overflow: hidden;
 
    }

    ul {
        flex-direction: column;
        width: 100%;
        height: 0px;    
        overflow: hidden;
    }

    ul li {
        width: 100%;
        text-align: center;
    }

    h1:after {
        content: "\2261";
        float: right;
        margin-left: 10px;
    }

    #juca:checked + ul {
        animation-name: show;
        animation-timing-function: ease-in-out;
        animation-duration: 300ms;
        animation-fill-mode: forwards;

    }
}

@keyframes show {
    0% {
        height: 20px;
    }
    10% {
        height: 40px;
    }
    80%{
        height: 140px;
    }

    100% {
        padding-top:30px;
        height: 100%;
    }
}